<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shadowkhan.dao.userFavorite.UserFavoriteMapper">

  <resultMap id="BaseResultMap" type="com.shadowkhan.dao.userFavorite.model.UserFavorite">
    <id column="User_ID" jdbcType="INTEGER" property="userId"/>
    <result column="username" jdbcType="LONGVARCHAR" property="username"/>
    <result column="ISBN" jdbcType="LONGVARCHAR" property="isbn"/>
    <result column="create_time" jdbcType="BIGINT" property="createTime"/>
    <result column="is_deleted" jdbcType="LONGVARCHAR" property="isDeleted"/>
    <result column="version" jdbcType="INTEGER" property="version"/>
  </resultMap>
  <sql id="Entity_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                      #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Entity_Where_Clause">
    <where>
      <foreach collection="entity.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                      #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    `User_ID`, `username`, `ISBN`, `create_time`, `is_deleted`, `version`
  </sql>
  <select id="selectByEntitys" parameterType="com.shadowkhan.dao.userFavorite.model.UserFavoriteEntity" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List"/>
    from `User_Favorite`
    <if test="_parameter != null">
      <include refid="Entity_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByEntity" parameterType="com.shadowkhan.dao.userFavorite.model.UserFavoriteEntity" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List"/>
    from `User_Favorite`
    <if test="_parameter != null">
      <include refid="Entity_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectAll" parameterType="hashmap" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from `User_Favorite`
    where `User_ID` = #{userId,jdbcType=INTEGER}
    AND `is_deleted`= #{isDeleted}
    limit #{first},#{second}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `User_Favorite`
    where `User_ID` = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `User_Favorite`
    where `User_ID` = #{userId,jdbcType=INTEGER}
    AND `is_deleted` = '0'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `User_Favorite`
    where `User_ID` = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByEntity" parameterType="com.shadowkhan.dao.userFavorite.model.UserFavoriteEntity">
    delete from `User_Favorite`
    <if test="_parameter != null">
      <include refid="Entity_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="com.shadowkhan.dao.userFavorite.model.UserFavorite">
    <selectKey keyProperty="userId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `User_Favorite` (
      `User_ID`,
      `username`,
      `ISBN`,
      `create_time`,
      `is_deleted`,
      `version`
    )
    values (
      #{userId,jdbcType=INTEGER},
      #{username,jdbcType=LONGVARCHAR},
      #{isbn,jdbcType=LONGVARCHAR},
      #{createTime,jdbcType=BIGINT},
      #{isDeleted,jdbcType=LONGVARCHAR},
      #{version,jdbcType=INTEGER}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.shadowkhan.dao.userFavorite.model.UserFavorite">
    <selectKey keyProperty="userId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `User_Favorite`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        `User_ID`,
      </if>
      <if test="username != null">
        `username`,
      </if>
      <if test="isbn != null">
        `ISBN`,
      </if>
      <if test="createTime != null">
        `create_time`,
      </if>
      <if test="isDeleted != null">
        `is_deleted`,
      </if>
      <if test="version != null">
        `version`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=LONGVARCHAR},
      </if>
      <if test="isbn != null">
        #{isbn,jdbcType=LONGVARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=LONGVARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByEntity" parameterType="com.shadowkhan.dao.userFavorite.model.UserFavoriteEntity" resultType="java.lang.Integer">
    select count(*) from `User_Favorite`
    <if test="_parameter != null">
      <include refid="Entity_Where_Clause"/>
    </if>
  </select>
  <update id="updateByEntitySelective" parameterType="map">
    update `User_Favorite`
    <set>
        `User_ID` = #{record.userId,jdbcType=INTEGER},
        `username` = #{record.username,jdbcType=LONGVARCHAR},
        `ISBN` = #{record.isbn,jdbcType=LONGVARCHAR},
        `create_time` = #{record.createTime,jdbcType=BIGINT},
        `is_deleted` = #{record.isDeleted,jdbcType=LONGVARCHAR},
        `version` = #{record.version,jdbcType=INTEGER},
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Entity_Where_Clause"/>
    </if>
  </update>
  <update id="updateByEntity" parameterType="map">
    update `User_Favorite`
    set `User_ID` = #{record.userId,jdbcType=INTEGER},
`username` = #{record.username,jdbcType=LONGVARCHAR},
`ISBN` = #{record.isbn,jdbcType=LONGVARCHAR},
`create_time` = #{record.createTime,jdbcType=BIGINT},
`is_deleted` = #{record.isDeleted,jdbcType=LONGVARCHAR},
`version` = #{record.version,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Entity_Where_Clause"/>
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shadowkhan.dao.userFavorite.model.UserFavorite">
    update `User_Favorite`
    <set>
        <if test="userId != null">
          `User_ID` = #{userId,jdbcType=INTEGER},
        </if>
        <if test="username != null">
          `username` = #{username,jdbcType=LONGVARCHAR},
        </if>
        <if test="isbn != null">
          `ISBN` = #{isbn,jdbcType=LONGVARCHAR},
        </if>
        <if test="createTime != null">
          `create_time` = #{createTime,jdbcType=BIGINT},
        </if>
        <if test="isDeleted != null">
          `is_deleted` = #{isDeleted,jdbcType=LONGVARCHAR},
        </if>
        <if test="version != null">
          `version` = #{version,jdbcType=INTEGER},
        </if>
    </set>
    where `User_ID` = #{userId,jdbcType=INTEGER}
    AND `ISBN` = #{isbn,jdbcType=LONGVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shadowkhan.dao.userFavorite.model.UserFavorite">
    update `User_Favorite`
    set
        `User_ID` = #{userId,jdbcType=INTEGER},
        `username` = #{username,jdbcType=LONGVARCHAR},
        `ISBN` = #{isbn,jdbcType=LONGVARCHAR},
        `create_time` = #{createTime,jdbcType=BIGINT},
        `is_deleted` = #{isDeleted,jdbcType=LONGVARCHAR},
        `version` = #{version,jdbcType=INTEGER}
    where `User_ID` = #{userId,jdbcType=INTEGER}
  </update>
</mapper>
